@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;1,600&display=swap');

/* DEFINICAO DE VARIAVEIS GLOBAIS */
:root{
    --cor-primaria:#0F0E0E;
    --cor-secundaria:#EEEEEE;
    --cor--terciaria: #8B9A46;
    --cor-hover: #541212;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Monteserrat', sans-serif;
}

/*RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    font: inherit;
    vertical-align: baseline;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor--terciaria);
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor--terciaria);
}

.apresentacao{
    /* margin: 10% 15%; */
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; /*espaçamento entre as linhas*/
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /*1rem = 16px*/
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor--terciaria);
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px
}

.apresentacao__link__navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;    
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /*primeiro valor é eixo vertical e segundo valor é eixo horizontal */
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    border-radius: 8px;
    /* border-color: #22D4FD; */
    /* border-width: 2px; */
    /* border-style: solid; */
    border: 2px solid var(--cor--terciaria);
}

.apresentacao__link__navegacao:hover{
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    padding: 24px;
    background-color: var(--cor--terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/*PARA TELAS COM ATE 1200PX, SERÃO APLICADAS AS PROPRIEDADES ABAIXO*/
@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}